@import url('https://fonts.googleapis.com/css?family=Open+Sans&display=swap');
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root {
    --red: #ff2b34;
    --black: #222;
    --white: #fff;
    --texto: 'Open Sans', sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: var(--texto)
}

a,
p {
    font-family: var(--texto)
}

#eventos {
    display: flex;
    justify-content: center
}

.container_eventos {
    width: 90vw;
    height: 70vh;
}

.container_eventos h1 {
    text-align: center;
    margin-top: 2em;
    font-size: 2em;
}

.conteudo {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    margin: 2em;
}

.card {
    width: 25vw;
    height: 38vh;
    margin-bottom: 2em;
    border-radius: 10px;
    box-shadow: 0 5px 5px rgba(0, 0, 0, 0.2);
}

.card img {
    width: 100%;
    border-radius: 10px
}

.card_conteudo {
    margin-left: 5px;
}

.calendario {
    width: 10em;
    height: 2em;
    margin-left: 2px;
    border-radius: 10px;
    display: flex;
    align-items: center
}

.calendario p {
    margin-left: 5px;
    color: var(--red);
    font-weight: 800;
    font-size: 13px
}

.calendario span {
    color: var(--black);
    font-weight: lighter;
    font-size: 20px;
    font-family: var(--texto)
}

.card_conteudo hr {
    background: #eee;
    width: 90%;
    height: 1px;
    margin: 5px;
    margin-left: 1px;
    border: 0;
}

.titulo_card h2 {
    font-size: 20px;
    font-weight: lighter;
    text-align: start
}

.loc_eventos {
    margin-top: 5px;
    color: #bbb;
    font-size: 13px;
}

@media screen and (max-width: 769px) {
    .conteudo {
        flex-wrap: nowrap;
        /* flex-direction: column; */
        flex-wrap: wrap
    }
    .card {
        width: 35vw;
        height: 35vh;
    }
}

@media screen and (max-width: 376px) {
    .conteudo {
        flex-wrap: nowrap;
        flex-direction: column;
    }
    .card {
        width: 70vw;
        height: 35vh;
    }
}