@import url('https://fonts.googleapis.com/css?family=Open+Sans&display=swap');
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root {
    --red: #ff2b34;
    --black: #222;
    --white: #fff;
    --texto: 'Open Sans', sans-serif;
}

a,
p {
    font-family: var(--texto)
}

h1,
h2,
h3,
h4,
h5 {
    font-family: var(--texto);
}

.quadrado_vermelho {
    background: var(--red);
    width: 100%;
    height: 40vh;
    display: flex;
    justify-content: center;
}

.quadrado_branco {
    background: var(--white);
    width: 50%;
    height: 70vh;
    box-shadow: 0 5px 25px rgba(0, 0, 0, 0.3);
    align-items: center;
}

.quadrado_branco h2 {
    margin-top: 1em;
    text-align: center;
    font-size: 2em;
    font-weight: lighter
}

.quadrado_branco p {
    text-align: center;
    font-weight: lighter
}

input {
    background-color: var(--white);
    color: var(--black);
    padding: 12px;
    width: 28em;
    border: none;
    font-size: 20px;
    box-shadow: 0 5px 25px rgba(0, 0, 0, 0.5);
    -webkit-appearance: button;
    appearance: button;
    outline: none;
    border-radius: 5px;
    margin: 0 auto;
    margin-top: 2em;
}

.button {
    background-color: var(--red);
    border: none;
    color: var(--white);
    padding: 15px;
    font-size: 16px;
    cursor: pointer;
    border-radius: 5px;
    margin: 0 auto;
    margin-top: 1.5em;
    width: 20%;
}

.center {
    display: flex;
    flex-direction: column;
}

.center a {
    text-decoration: none;
    color: var(--black)
}

.mt-1 {
    margin-top: 1em
}

.mt-2 {
    margin-top: 2em
}

.mt-3 {
    margin-top: 3em
}

.mt-4 {
    margin-top: 4em
}

.mt-5 {
    margin-top: 5em
}

@media screen and (max-width: 768px) {
    input {
        width: 15em;
    }
    .button {
        margin-top: 1em;
    }
    .mt-3 {
        margin-top: 1em
    }
}

@media screen and (max-width: 375px) {
    input {
        width: 13em;
    }
    .button {
        margin-top: 1em;
        width: 5em;
    }
    .quadrado_branco {
        width: 85%;
        height: 75vh;
    }
    .quadrado_vermelho {
        height: 30vh;
    }
    .mt-3 {
        margin-top: 1em
    }
}